section.filters
  .filters--container
    .filters--title
      h3.title-m Filtros
    ul.filters--list.flex
      li.filters--item.flex.align-center.justify-center.is-selected(data-filter='all')
        +svg('check')
        span Todos
      li.filters--item.flex.align-center.justify-center(data-filter='Flora')
        +svg('check')
        span Flora
      li.filters--item.flex.align-center.justify-center(data-filter='Fauna')
        +svg('check')
        span Fauna
      li.filters--item.flex.align-center.justify-center(data-filter='pokemon')
        +svg('check')
        span Pokemon

