section.product-list.limit-items
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Cuadernos A5
  .product-list--container
    section.product-list--section.flex
      +card('L치mina Bot치nica', precioCuadernosA5, 'cuadernoa5-lamina-botanica', 'cuadernos/lamina-botanica-thumb', {'class':'flora'})
      +card('L치mina Mariposas Argentinas', precioCuadernosA5, 'cuadernoa5-lamina-mariposas-argentinas', 'cuadernos/lamina-mariposas-argentinas-thumb', {'class':'flora'})
      +card('L치mina Saturniidae', precioCuadernosA5, 'cuadernoa5-lamina-saturniidae', 'cuadernos/lamina-saturniidae-thumb', {'class':'flora'})
