extends ../../layouts/layout-primary
block title
  title Cactusauria - Prendedores e imanes
  meta(name='description', content='Prendedores e imánes pintados a mano de flora y fauna')
  meta(name='keywords', content='Prendedores e imánes')

block content
  include ../../layouts/general/header
  include ../../layouts/general/search
  include ../../layouts/general/filters
  include ../../layouts/prendedores-imanes/main
