section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Láminas
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', '$300', '/lamina-botanica', 'laminas/botanica-thumb.webp', {'class':'flora'})
      +card('Mariposas Argentinas', '$300', '/lamina-mariposas-argentinas', '/laminas/mariposas-argentinas-thumb.webp', {'class':'fauna'})
      +card('Saturniidae', '$300', '/lamina-saturniidae', '/laminas/saturniidae-thumb.webp', {'class':'fauna'})
      +card('Iberá', '$300', '/lamina-ibera', '/laminas/ibera-thumb.webp', {'class':'caca'})
      +card('Weepinbell', '$300', '/lamina-weepinbell', '/laminas/weepinbell-thumb.webp', {'class':'pokemon'})
      +card('Butterfree', '$300', '/lamina-butterfree', '/laminas/butterfree-thumb.webp', {'class':'pokemon'})
