.header {
  padding: rem(20) 0;

  @include breakpoint(md) {
    padding: rem(30) 0;
  }

  svg {
    display: block;
  }

  &--menu {
    li {
      margin-left: rem(24);
    }

    &_item {
      color: $black;
      font-weight: $f-demi;
    }
  }
}

.logo svg {
  width: 100%;
  height: 100%;

  @include breakpoint(md) {
    width: 175%;
    height: 175%;
  }
}
