.product-list {
  max-width: rem(1140);
  margin: 0 auto;

  &--container {
    overflow: hidden;
  }

  &--header {
    margin-bottom: rem(14);
  }

  &--section {
    flex-grow: 1;
    padding: 0 0 rem(55) rem(24);
    margin-bottom: -10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 10px,
      #000 calc(100% - 10px),
      transparent
    );

    @include breakpoint(sm) {
      padding: 0 0 rem(55) rem(40);
    }
  }
}

.ver-todos {
  color: $color-primary;
  position: relative;
  right: -15px;
  font-weight: $f-demi;

  span {
    margin-right: rem(4);
  }
}

.highlight {
  outline: 1px solid red;
}
