.product-list {
  max-width: rem(1140);
  margin: 0 auto;

  &--container {
    overflow: hidden;
  }

  &--header {
    margin-bottom: rem(14);
  }

  &--section {
    display: flex;
    flex-grow: 1;
    padding: 0 0 rem(55) rem(24);
    margin-bottom: rem(-10);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 10px,
      #000 calc(100% - 10px),
      transparent
    );

    @include breakpoint(sm) {
      padding: 0 0 rem(55) rem(40);
    }

    @include breakpoint(md) {
      display: grid;
      overflow: inherit;
      -webkit-mask-image: none;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-column-gap: rem(20);
      grid-row-gap: rem(20);
      padding: 0 rem(40) rem(40) rem(40);
    }
  }
}

.ver-todos {
  color: $color-primary;
  position: relative;
  right: rem(15);
  font-weight: $f-demi;

  @include breakpoint(md) {
    right: 0;
  }

  span {
    margin-right: rem(4);
  }
}

.highlight {
  outline: 1px solid red;
}
