.product {
  padding-top: rem(20);
  border-top: 1px solid $gray-200;

  &--header {
    margin-bottom: rem(25);

    .title-l {
      margin-bottom: rem(8);
    }

    .price {
      font-size: rem(18);
    }
  }

  &--description {
    color: $gray-400;
    font-weight: $f-medium;
    font-size: rem(14);
    line-height: 1.5;
    margin-bottom: rem(25);

    @include breakpoint(md) {
      font-size: rem(16);
    }

    p:not(:last-of-type) {
      margin-bottom: rem(5);

      @include breakpoint(xs) {
        margin-bottom: 0;
      }
    }
  }

  &--images {
    margin: 0 rem(-20);

    &_img {
      width: 100%;
      padding: 0 rem(20);
      margin-bottom: rem(15);

      @include breakpoint(sm) {
        width: 50%;
      }

      img {
        object-fit: cover;
        height: rem(240);
        width: 100%;

        @include breakpoint(xs) {
          height: rem(320);
        }

        @include breakpoint(sm) {
          height: rem(640);
        }
      }
    }
  }

  // img {
  //   width: 100%;
  //   margin-bottom: rem(15);

  //   &:last-of-type {
  //     margin-bottom: 0;
  //   }
  // }
}
