extends layouts/layout-primary
block title
  title Cactusauria - Cuaderno A6 Lámina Nativas
  meta(name='description', content='Libreta tamaño A6 lisas tipo bookcel y tapas laminadas. Lámina de plantas nativas con sus respectivos nombres en la contratapa')
  meta(name='keywords', content='libreta, lámina Nativas')

block content
  include layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/cuadernosa6") Cuadernos A6
            li Lámina Nativas
          header.product--header
            h1.title-l Lámina Nativas
            h2.price $150
          section.product--section
            .product--description
              p Libreta tamaño A6 (10x15cm aproximadamente), 40 hojas lisas tipo bookcel y tapas laminadas. Lámina de plantas nativas con sus respectivos nombres en la contratapa.
            .product--images.flex.flex-column.flex-row-sm.flex-wrap
              a.glightbox.product--images_img(href='assets/images/cuadernos/lamina-nativas-1.webp'): +img('cuadernos/lamina-nativas-1.webp')
              a.glightbox.product--images_img(href='assets/images/cuadernos/lamina-nativas-2.webp'): +img('cuadernos/lamina-nativas-2.webp')


  include layouts/general/menu
  .overlay

