extends layouts/layout-primary
block title
  title Cactusauria - Cuadernos A6
  meta(name='description', content='Cuadernos A6 de flora y fauna')
  meta(name='keywords', content='Cuadernos A6')

block content
  include layouts/general/header
  include layouts/general/search
  //- include layouts/tazas/filters
  //- include layouts/home/tazas
