extends layouts/layout-primary

block content
  include layouts/general/header
  include layouts/general/search
  include layouts/general/filters
  //- include layouts/home/prendedores-imanes
  include layouts/home/laminas
  include layouts/home/tazas
  include layouts/home/cuadernos-a6
  include layouts/home/cuadernos-a5
  //- include layouts/home/stickers
  include layouts/general/faqs
