extends layouts/layout-primary

block content
  include layouts/general/header
  .container
    .row
      .col-md-12
        ul.flex
          li: a(href="") Láminas
          li Lamina 1
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod rem commodi deserunt earum doloremque quis. Nulla et quo quasi saepe labore optio deserunt aliquid, voluptatum pariatur modi facilis quidem assumenda?


  include layouts/general/menu
  .overlay

