extends layouts/layout-primary
block title
  title Cactusauria - Láminas
  meta(name='description', content='Láminas de flora y fauna')
  meta(name='keywords', content='Láminas')

block content
  include layouts/general/header
  include layouts/general/search
  include layouts/laminas/filters
  include layouts/laminas/laminas-main
