extends layouts/layout-primary
block title
  title Cactusauria - Lámina Butterfree
  meta(name='description', content='Ilustración con la metamorfosis del pokemon Butterfree')
  meta(name='keywords', content='Lámina Butterfree')

block content
  include layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/laminas") Láminas
            li Butterfree
          header.product--header
            h1.title-l Butterfree
            h2.price $300 o 2 x $500
          section.product--section
            .product--description
              p Impresión A4.
              p Ilustración con la metamorfosis del pokemon Butterfree. Técnica: acuarela.
            .product--images.flex.flex-column.flex-row-sm
              a.glightbox.product--images_img(href='assets/images/laminas/butterfree-1.jpg'): +img('laminas/butterfree-1.jpg')
              a.glightbox.product--images_img(href='assets/images/laminas/butterfree-2.jpg'): +img('laminas/butterfree-2.jpg')


  include layouts/general/menu
  .overlay

