extends layouts/layout-primary

block content
  include layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/laminas") Láminas
            li Lamina 1
          header.product--header
            h1.title-l Lámina 1
            h2.price $150
          section.product--section
            .product--description: p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, tempora. Quod, amet praesentium? Temporibus accusantium, unde eaque ad vitae consectetur error, obcaecati eligendi quo quia laborum aperiam corporis nam blanditiis!
            +img('img.webp')
            +img('img.webp')


  include layouts/general/menu
  .overlay

