extends layouts/layout-primary

block content
  include layouts/general/header
  include layouts/general/search
  include layouts/general/filters
  include layouts/prendedores-imanes/main


  include layouts/general/menu
  .overlay
