extends layouts/layout-primary
block title
  title Cactusauria - Taza Geológica
  meta(name='description', content='Taza de cerámica apta microondas de Geológica')
  meta(name='keywords', content='Taza Geológica')

block content
  include layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/tazas") Tazas
            li Geológica
          header.product--header
            h1.title-l Geológica
            h2.price $350 o 2 x $600
          section.product--section
            .product--description
              p Taza de cerámica apta microondas.
            .product--images.flex.flex-column.flex-row-sm.flex-wrap
              a.glightbox.product--images_img(href='assets/images/tazas/geologica-1.webp'): +img('tazas/geologica-1.webp')
              a.glightbox.product--images_img(href='assets/images/tazas/geologica-2.webp'): +img('tazas/geologica-2.webp')


  include layouts/general/menu
  .overlay

