section.faqs
  .container
    .row.faqs--header
      .col-md-12
        h2.title-m.tc Preguntas frecuentes
    .row
      .col-md-12
        div(data-accordion)
          button.flex.relative.justify-between(data-trigger)
           span ¿Cómo reservar?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ut incidunt saepe, sunt cupiditate aliquam quis perspiciatis adipisci fuga ex quisquam temporibus voluptatum accusantium neque. Iusto commodi saepe rerum possimus!
        div(data-accordion)
          button.flex.relative.justify-between(data-trigger)
           span Hola, soy una pregunta mas larga. Todo bien, qué onda?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ut incidunt saepe, sunt cupiditate aliquam quis perspiciatis adipisci fuga ex quisquam temporibus voluptatum accusantium neque. Iusto commodi saepe rerum possimus!
        div(data-accordion)
          button.flex.relative.justify-between(data-trigger)
           span ¿Cómo reservar?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ut incidunt saepe, sunt cupiditate aliquam quis perspiciatis adipisci fuga ex quisquam temporibus voluptatum accusantium neque. Iusto commodi saepe rerum possimus!
