section.faqs
  .container
    .row.faqs--header
      .col-md-12
        h2.title-l.tc Preguntas frecuentes
    .row
      .col-md-12
        div(data-accordion)
          button.flex.relative.align-center.justify-between(data-trigger, aria-label='¿Hacen Envios?')
           span ¿Hacen envios?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Sí. Hacemos envios a todo el país mediante Correo Argentino. Se despacha una vez por semana, y la compra mínima es de $600.
        div(data-accordion)
          button.flex.relative.align-center.justify-between(data-trigger, aria-label='¿De qué material son los prendedores e imanes?')
           span ¿De qué material son los prendedores e imanes?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Los prendedores e imanes son de madera y están pintados a mano uno por uno, por lo cual cada pieza es única. Si bien están protegidos con barniz no es recomendable exponerlos al agua directo ni tampoco al roce continuo.
        div(data-accordion)
          button.flex.relative.align-center.justify-between(data-trigger, aria-label='¿Cómo reservar?')
           span ¿Cómo reservar?
           +svg('chevron-down').absolute.flex.align-center.justify-center
          div(data-content)
            div.faq-content
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ut incidunt saepe, sunt cupiditate aliquam quis perspiciatis adipisci fuga ex quisquam temporibus voluptatum accusantium neque. Iusto commodi saepe rerum possimus!
