section.filters
  .filters--container
    .filters--title
      h3.title-m Filtros
    ul.filters--list.flex
      li.filters--item.flex.align-center.justify-center.is-selected(data-filter='all')
        +svg('check')
        span Todos
      li.filters--item.flex.align-center.justify-center(data-filter='alf')
        +svg('check')
        span Plantas exóticas
      li.filters--item.flex.align-center.justify-center(data-filter='culo')
        +svg('check')
        span Fauna exótica
      li.filters--item.flex.align-center.justify-center(data-filter='caca')
        +svg('check')
        span Plantas nativas

