section.filters
  .filters--container
    h3.title-m Filtros
    ul.filters--list.flex
      li.filters--item.flex.align-center.justify-center.is-active
        +svg('check')
        span Todos
      li.filters--item.flex.align-center.justify-center Plantas exóticas
      li.filters--item.flex.align-center.justify-center Fauna exótica
      li.filters--item.flex.align-center.justify-center Plantas nativas

