footer.footer
  .container
    .row
      .col-md-12.flex.align-center.justify-between
        a(href="/"): +svg('logo')
        ul.flex
          li: a(href="https://www.facebook.com/Cactusauria/", target='_blank', rel='noopener'): +svg('fb')
          li: a(href="https://www.instagram.com/cactusauria/", target='_blank', rel='noopener'): +svg('ig')
