footer.footer
  .container
    .row
      .col-md-12.flex.align-center.justify-between
        a(href="/"): +svg('logo')
        ul.flex
          li: a(href=""): +svg('fb')
          li: a(href=""): +svg('ig')
