footer.footer
  .container
    .row
      .col-md-12.flex.align-center.justify-between
        a(href="/", title='Home', aria-label='Home'): +svg('logo')
        ul.flex
          li: a(href="https://www.facebook.com/Cactusauria/", aria-label='Facebook Catusuaria', target='_blank', rel='noopener'): +svg('fb')
          li: a(href="https://www.instagram.com/cactusauria/", aria-label='Instagram Catusuaria', target='_blank', rel='noopener'): +svg('ig')
