section.search
  .container
    .row
      .col-md-12
        form#search.relative.flex.align-center(action="")
          label.visuallyHidden(for="seach-input") Search
          input.search--input#seach-input(type="search", placeholder='Buscar', name='seach-input')
          button.search--button.absolute.flex(type='submit', aria-label='Search'): +svg('search')
