section.search
  .container
    .row
      .col-md-12
        form#search.relative.flex.align-center(action="")
          input.search--input(type="search", placeholder='Buscar')
          button.search--button.absolute.flex(type='submit'): +svg('search')
