extends ../layouts/layout-primary

block content
  include ../layouts/general/header
  section.about
    .container
      .row
        .col-md-12
          p Soy ilustradora y amante de la biología, asi que mis dibujos suelen ser sobre fauna y flora, enfocándome en las especies nativas de Argentina. Uso estilógrafos, acuarelas y lápices acuarerables, con un estilo que a veces intenta imitar la antigua ilustración científica o naturalista que se suele encontrar en láminas y enciclopedias. Desde hace unos años me dedico a crear objetos bajo el nombre de Cactusauria.
