extends ../../../layouts/layout-primary
block title
  title Cactusauria - Prendedor/Imán Espátula rosada
  meta(name='description', content='')
  meta(name='keywords', content='')

block content
  include ../../../layouts/general/header
  - var name = "Espátula rosada"
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/") Inicio
            li: a(href="/prendedores-imanes") Prendedores e imanes
            li !{name}
          header.product--header
            h1.title-l !{name}
            h2.price !{precioPrendedores}
          section.product--section
            .product--description
              p Texto
            .product--images.flex.flex-column.flex-row-sm.flex-wrap
              a.glightbox.product--images_img(href='../../assets/images/prendedores/espatula-rosada.jpg'): +img('prendedores/espatula-rosada')
