@font-face {
  font-family: "avenir";
  src: url("../fonts/avenir-next-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/avenir-next-demi.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/avenir-next-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
