section.product-list.limit-items
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Cuadernos
          a.ver-todos.flex.align-center.justify-center(href="", title='ver todos')
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      +card('Lámina 1', '150', '/lamina-1', 'img', {'class':'alf'})
      +card('Lámina 1', '150', '/lamina-1', 'img', {'class':'culo'})
      +card('Lámina 1', '150', '/lamina-1', 'img', {'class':'caca'})
