section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m L치minas
          a.ver-todos.flex.align-center.justify-center(href="")
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      +card('L치mina 1', '150', '/lamina-1', 'img.jpg', {'class':'alf'})
      +card('L치mina 1', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('L치mina 1', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
