section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Prendedores e imanes
          a.ver-todos.flex.align-center.justify-center(href="/prendedores-imanes")
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      +card('Prendedor 1', '150', '/lamina-1', 'img.jpg', {'class':'alf'})
      +card('Prendedor 2', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Prendedor 3', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 4', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 5', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Prendedor 6', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 1', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 2', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Imán 3', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 4', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 5', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Imán 6', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 1', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 2', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Prendedor 3', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 4', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Prendedor 5', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Prendedor 6', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 1', '150', '/lamina-1', 'img.jpg', {'class':'alf'})
      +card('Imán 2', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Imán 3', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
      +card('Imán 4', '150', '/lamina-1', 'img.jpg', {'class':'alf'})
      +card('Imán 5', '150', '/lamina-1', 'img.jpg', {'class':'culo'})
      +card('Imán 6', '150', '/lamina-1', 'img.jpg', {'class':'caca'})
