section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Prendedores e imanes
          a.ver-todos.flex.align-center.justify-center(href="")
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      a.card(href="")
        +img('img.jpg')
        .card--content.flex.align-center.justify-between
          h4.card--title Prendedor número 1
          h5.card--price $150
      a.card(href="")
        +img('img.jpg')
        .card--content.flex.align-center.justify-between
          h4.card--title Prendedor número 1
          h5.card--price $150
      a.card(href="")
        +img('img.jpg')
        .card--content.flex.align-center.justify-between
          h4.card--title Prendedor número 1
          h5.card--price $150
