section.product-list.limit-items
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Prendedores e imanes
          a.ver-todos.dn.flex-sm.align-center.justify-center(href="/prendedores-imanes", title='ver todos')
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioPrendedores, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})
      +card('Mariposas Argentinas', precioPrendedores, '/lamina-mariposas-argentinas', '/laminas/mariposas-argentinas-thumb', {'class':'fauna'})
      +card('Saturniidae', precioPrendedores, '/lamina-saturniidae', '/laminas/saturniidae-thumb', {'class':'fauna'})
      +card('Iberá', precioPrendedores, '/lamina-ibera', '/laminas/ibera-thumb', {'class':'caca'})
      .flex.dn-sm
        +card('Weepinbell', precioPrendedores, '/lamina-weepinbell', '/laminas/weepinbell-thumb', {'class':'pokemon'})
        +card('Butterfree', precioPrendedores, '/lamina-butterfree', '/laminas/butterfree-thumb', {'class':'pokemon'})
