section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Tazas
  .product-list--container
    section.product-list--section.flex
      +card('Flora nativa', '$350', '/taza-flora-nativa', 'tazas/flora-nativa-thumb.jpg', {'class':'flora'})
      +card('Mariposas', '$350', '/taza-mariposas', '/tazas/mariposas-thumb.jpg', {'class':'mariposas'})
      +card('Hongos', '$350', '/taza-hongos', '/tazas/hongos-thumb.jpg', {'class':'fauna'})
      +card('Geológica', '$350', '/taza-geologica', '/tazas/geologica-thumb.jpg', {'class':'caca'})
