section.product-list.limit-items
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Tazas
          a.ver-todos.dn.flex-sm.align-center.justify-center(href="/tazas", title='ver todos')
            span Ver todos
            +svg('chevron-right')
  .product-list--container
    section.product-list--section.flex
      +card('Bombé Flora nativa', precioTazasBombe, 'tazas/taza-bombe-flora-nativa', '/tazas/bombe-flora-nativa-thumb', {'class':'caca'})
      +card('Bombé Flora Mariposas', precioTazasBombe, 'tazas/taza-bombe-mariposas', '/tazas/bombe-mariposas-thumb', {'class':'caca'})
      +card('Recta Flora nativa', precioTazas, 'tazas/taza-flora-nativa', 'tazas/flora-nativa-thumb', {'class':'flora'})
      +card('Recta Mariposas', precioTazas, 'tazas/taza-mariposas', '/tazas/mariposas-thumb', {'class':'mariposas'})
      .flex.dn-sm
        +card('Recta Hongos', precioTazas, 'tazas/taza-hongos', '/tazas/hongos-thumb', {'class':'fauna'})
        +card('Recta Geológica', precioTazas, 'tazas/taza-geologica', '/tazas/geologica-thumb', {'class':'caca'})
