section.product-list.limit-items
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Cuadernos A6
  .product-list--container
    section.product-list--section.flex
      +card('Patrón Nativas', precioCuadernosA6, 'cuadernoa6-patron-nativas', 'cuadernos/patron-nativas-1', {'class':'flora'})
      +card('Lámina Nativas', precioCuadernosA6, 'cuadernoa6-lamina-nativas', 'cuadernos/lamina-nativas-1', {'class':'flora'})
      +card('Patrón Mariposas', precioCuadernosA6, 'cuadernoa6-patron-mariposas', 'cuadernos/patron-mariposas-1', {'class':'flora'})
      +card('Yunga', precioCuadernosA6, 'cuadernoa6-yunga', 'cuadernos/yunga-1', {'class':'flora'})
