section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Cuadernos A6
  .product-list--container
    section.product-list--section.flex
      +card('Patrón Nativas', '$150', '/cuadernoa6-patron-nativas', 'cuadernos/patron-nativas-1.webp', {'class':'flora'})
      +card('Lámina Nativas', '$150', '/cuadernoa6-lamina-nativas', 'cuadernos/lamina-nativas-1.webp', {'class':'flora'})
      +card('Patrón Mariposas', '$150', '/cuadernoa6-patron-mariposas', 'cuadernos/patron-mariposas-1.webp', {'class':'flora'})
      +card('Yunga', '$150', '/cuadernoa6-yunga', 'cuadernos/yunga-1.webp', {'class':'flora'})
