html {
  min-height: 100%;
  position: relative;
  font-family: $system-fonts;
  color: $black;

  &.avenir-loaded {
    font-family: $font;
  }
}

body {
  font: inherit;
  line-height: inherit;
  color: $black;
}

input,
textarea {
  font-family: inherit;
}

.title-l {
  font-size: 24px;
  font-weight: $f-bold;
}

.title-m {
  font-size: rem(18);
  line-height: 1.5;
  font-weight: $f-bold;

  @include breakpoint(sm) {
    font-size: rem(22);
  }
}
