section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Láminas
  .product-list--container
    section.product-list--section.flex
      //- +card('Botánica', precioLaminas, 'laminas/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})
      //- +card('Mariposas Argentinas', precioLaminas, 'laminas/lamina-mariposas-argentinas', 'laminas/mariposas-argentinas-thumb', {'class':'fauna'})
      //- +card('Saturniidae', precioLaminas, 'laminas/lamina-saturniidae', 'laminas/saturniidae-thumb', {'class':'fauna'})
      //- +card('Iberá', precioLaminas, 'laminas/lamina-ibera', '/laminas/ibera-thumb', {'class':'caca'})
      //- .flex.dn-sm
      //-   +card('Weepinbell', precioLaminas, 'laminas/lamina-weepinbell', '/laminas/weepinbell-thumb', {'class':'pokemon'})
      //-   +card('Butterfree', precioLaminas, 'laminas/lamina-butterfree', '/laminas/butterfree-thumb', {'class':'pokemon'})
