extends layouts/layout-primary
block title
  title Cactusauria - Lámina Mariposas Argentinas
  meta(name='description', content='Lámina con mariposas nativas de Argentina.')
  meta(name='keywords', content='Lámina Mariposas nativas de Argentina')

block content
  include layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/") Inicio
            li: a(href="/laminas") Láminas
            li Mariposas Argentinas
          header.product--header
            h1.title-l Mariposas Argentinas
            h2.price !{precioTazas} o 2 x !{precioLaminasCombo}
          section.product--section
            .product--description
              p Impresión A4.
              p Lámina con mariposas nativas de Argentina. Técnica: digital
            .product--images.flex.flex-column.flex-row-sm
              a.glightbox.product--images_img(href='assets/images/laminas/mariposas-argentinas-1.jpg'): +img('laminas/mariposas-argentinas-1')
              a.glightbox.product--images_img(href='assets/images/laminas/mariposas-argentinas-2.jpg'): +img('laminas/mariposas-argentinas-2')


  include layouts/general/menu
  .overlay

