//- extends layouts/layout-primary
//- block title
//-   title Cactusauria - Lámina Butterfree
//-   meta(name='description', content='Ilustración con la metamorfosis del pokemon Butterfree')
//-   meta(name='keywords', content='Lámina Butterfree')

//- block content
//-   include layouts/general/header
//-   section.product
//-     .container
//-       .row
//-         .col-md-12
//-           ul.flex.breadcrumbs
//-             li: a(href="/") Inicio
//-             li: a(href="/laminas") Láminas
//-             li Iberá
//-           header.product--header
//-             h1.title-l Iberá
//-             h2.price !{precioTazas} o 2 x !{precioLaminasCombo}
//-           section.product--section
//-             .product--description
//-               p Lámina A4, Impresión 20x20. Especies emblemáticas del Esteros de Iberá: yaguareté, tapir, lobo gargantilla, oso hormiguero, guacamayo, muitú, venado de las pampas, pecarí y flora de la zona. Técnica: actuarela
//-             .product--images.flex.flex-column.flex-row-sm
//-               a.glightbox.product--images_img(href='assets/images/laminas/ibera-1.jpg'): +img('laminas/ibera-1')
//-               a.glightbox.product--images_img(href='assets/images/laminas/ibera-2.jpg'): +img('laminas/ibera-2')


//-   include layouts/general/menu
//-   .overlay

