section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Botánica
  .product-list--container
    .product-list--title: h3.title-s Flora nativa
    section.product-list--section.flex
      +card('Amaranto', precioPrendedores, 'botanica/amaranto', 'prendedores/amaranto-thumb', {'class':'mamiferos, is-visible'})
      +card('Arboles nativos', precioPrendedores, 'botanica/arboles-nativos', 'prendedores/arboles-nativos-thumb', {'class':'mamiferos, is-visible'})
      +card('Ceibo', precioPrendedores, 'botanica/ceibo', 'prendedores/ceibo-thumb', {'class':'mamiferos, is-visible'})
      +card('Fuchsia', precioPrendedores, 'botanica/fuchsia', 'prendedores/fuchsia-thumb', {'class':'mamiferos, is-visible'})
      +card('Jacarandá', precioPrendedores, 'botanica/jacaranda', 'prendedores/jacaranda-thumb', {'class':'mamiferos, is-visible'})
      +card('Malva rosa', precioPrendedores, 'botanica/malva-rosa', 'prendedores/malva-rosa-thumb', {'class':'mamiferos, is-visible'})
      +card('Papa', precioPrendedores, 'botanica/papa', 'prendedores/papa-thumb', {'class':'mamiferos, is-visible'})
      +card('Sagitaria', precioPrendedores, 'botanica/sagitaria', 'prendedores/sagitaria-thumb', {'class':'mamiferos, is-visible'})

    .product-list--title: h3.title-s Flora exótica
    section.product-list--section.flex
      +card('Ginkgo', precioPrendedores, 'botanica/ginkgo', 'prendedores/ginkgo-thumb', {'class':'mamiferos, is-visible'})
      +card('Granada', precioPrendedores, 'botanica/granada', 'prendedores/granada-thumb', {'class':'mamiferos, is-visible'})
      +card('Hortensia', precioPrendedores, 'botanica/hortensia', 'prendedores/hortensia-thumb', {'class':'mamiferos, is-visible'})
      +card('Lúpulo', precioPrendedores, 'botanica/lupulo', 'prendedores/lupulo-thumb', {'class':'mamiferos, is-visible'})
      +card('Magnolia', precioPrendedores, 'botanica/magnolia', 'prendedores/magnolia-thumb', {'class':'mamiferos, is-visible'})
      +card('No me olvides', precioPrendedores, 'botanica/no-me-olvides', 'prendedores/no-me-olvides-thumb', {'class':'mamiferos, is-visible'})
      +card('Ojo de poeta', precioPrendedores, 'botanica/ojo-de-poeta', 'prendedores/ojo-de-poeta-thumb', {'class':'mamiferos, is-visible'})
      +card('Roble otoñal', precioPrendedores, 'botanica/roble-otonal', 'prendedores/roble-otonal-thumb', {'class':'mamiferos, is-visible'})


    //- .product-list--title: h3.title-s Hongos
    //- section.product-list--section.flex
    //-   +card('Aguara', precioPrendedores, 'botanica/aguara', 'prendedores/aguara-thumb', {'class':'mamiferos, is-visible'})

    //- .product-list--title: h3.title-s Hojas
    //- section.product-list--section.flex
    //-   +card('Aguara', precioPrendedores, 'botanica/aguara', 'prendedores/aguara-thumb', {'class':'mamiferos, is-visible'})
