section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Fauna nativa
  .product-list--container
    .product-list--title: h3.title-s Mamíferos
    section.product-list--section.flex
      +card('Aguará Guazú', precioPrendedores, 'fauna-nativa/aguara-guazu', 'prendedores/aguara-guazu-thumb', {'class':'flora, is-visible'})
      +card('Agutí', precioPrendedores, 'fauna-nativa/aguti', 'prendedores/aguti-thumb', {'class':'flora, is-visible'})
      +card('Animales marinos', precioPrendedores, 'fauna-nativa/animales-marinos', 'prendedores/animales-marinos-thumb', {'class':'flora, is-visible'})
      +card('Araña saltarina', precioPrendedores, 'fauna-nativa/arana-saltarina', 'prendedores/arana-saltarina-thumb', {'class':'flora, is-visible'})
      +card('Ballena franca austral', precioPrendedores, 'fauna-nativa/ballena-franca-austral', 'prendedores/ballena-franca-austral-2-thumb', {'class':'flora, is-visible'})
      +card('Bandurria', precioPrendedores, 'fauna-nativa/bandurria', 'prendedores/bandurria-thumb', {'class':'flora, is-visible'})
      +card('Benteveo', precioPrendedores, 'fauna-nativa/benteveo', 'prendedores/benteveo-thumb', {'class':'flora, is-visible'})
    .product-list--title: h3.title-s Mamíferos
    section.product-list--section.flex
      +card('Bicho bolita', precioPrendedores, 'fauna-nativa/bicho-bolita', 'prendedores/bicho-bolita-thumb', {'class':'flora, is-visible'})
      +card('Caburé Grande', precioPrendedores, 'fauna-nativa/cabure-grande', 'prendedores/cabure-grande-thumb', {'class':'flora, is-visible'})
      +card('Cachalote', precioPrendedores, 'fauna-nativa/cachalote', 'prendedores/cachalote-thumb', {'class':'flora, is-visible'})
      +card('Cachaña', precioPrendedores, 'fauna-nativa/cachana', 'prendedores/cachana-thumb', {'class':'flora, is-visible'})
      +card('Cardenal', precioPrendedores, 'fauna-nativa/cardenal', 'prendedores/cardenal-thumb', {'class':'flora, is-visible'})
      +card('Carpincho', precioPrendedores, 'fauna-nativa/Carpincho', 'prendedores/Carpincho-thumb', {'class':'flora, is-visible'})
      +card('Carpintero Arcoiris', precioPrendedores, 'fauna-nativa/carpintero-arcoiris', 'prendedores/carpintero-arcoiris-thumb', {'class':'flora, is-visible'})
      +card('Cauquén', precioPrendedores, 'fauna-nativa/cauquen', 'prendedores/cauquen-thumb', {'class':'flora, is-visible'})
      +card('Chingolo', precioPrendedores, 'fauna-nativa/chingolo', 'prendedores/chingolo-thumb', {'class':'flora, is-visible'})
      +card('Ciervo de los pantanos', precioPrendedores, 'fauna-nativa/ciervo-de-los-pantanos', 'prendedores/ciervo-de-los-pantanos-thumb', {'class':'flora, is-visible'})
      +card('Colibrí Grande', precioPrendedores, 'fauna-nativa/colibri-grande', 'prendedores/colibri-grande-thumb', {'class':'flora, is-visible'})
      +card('Colibrí Cometa', precioPrendedores, 'fauna-nativa/colibri-cometa', 'prendedores/colibri-cometa-thumb', {'class':'flora, is-visible'})
      +card('Condor', precioPrendedores, 'fauna-nativa/condor', 'prendedores/condor-thumb', {'class':'flora, is-visible'})
      +card('Coral', precioPrendedores, 'fauna-nativa/coral', 'prendedores/coral-thumb', {'class':'flora, is-visible'})
      +card('Cortarrama', precioPrendedores, 'fauna-nativa/cortarrama', 'prendedores/cortarrama-thumb', {'class':'flora, is-visible'})
      +card('Cuclillo canela', precioPrendedores, 'fauna-nativa/cuclillo-canela', 'prendedores/cuclillo-canela-thumb', {'class':'flora, is-visible'})
      +card('Cuica de agua', precioPrendedores, 'fauna-nativa/cuica-de-agua', 'prendedores/cuica-de-agua-thumb', {'class':'flora, is-visible'})
      +card('Delfín Austral', precioPrendedores, 'fauna-nativa/delfin-austral', 'prendedores/delfin-austral-thumb', {'class':'flora, is-visible'})
      +card('Delfín cruzado', precioPrendedores, 'fauna-nativa/delfin-cruzado', 'prendedores/delfin-cruzado-thumb', {'class':'flora, is-visible'})
      +card('Delfín de Fitzroy', precioPrendedores, 'fauna-nativa/delfin-de-fitzroy', 'prendedores/delfin-de-fitzroy-thumb', {'class':'flora, is-visible'})
      +card('Dorado', precioPrendedores, 'fauna-nativa/dorado', 'prendedores/dorado-thumb', {'class':'flora, is-visible'})
      +card('Franciscana', precioPrendedores, 'fauna-nativa/franciscana', 'prendedores/franciscana-thumb', {'class':'flora, is-visible'})
      +card('Garcita Bueyera', precioPrendedores, 'fauna-nativa/garcita-bueyera', 'prendedores/garcita-bueyera-thumb', {'class':'flora, is-visible'})
      +card('Garza mora', precioPrendedores, 'fauna-nativa/garza-mora', 'prendedores/garza-mora-thumb', {'class':'flora, is-visible'})
      +card('Guacamayo rojo', precioPrendedores, 'fauna-nativa/guacamayo-rojo', 'prendedores/guacamayo-rojo-thumb', {'class':'flora, is-visible'})
      +card('Huemul', precioPrendedores, 'fauna-nativa/huemul', 'prendedores/huemul-thumb', {'class':'flora, is-visible'})
      +card('Huillín', precioPrendedores, 'fauna-nativa/huillin', 'prendedores/huillin-thumb', {'class':'flora, is-visible'})
      +card('Iguana de cobre', precioPrendedores, 'fauna-nativa/iguana-de-cobre', 'prendedores/iguana-de-cobre-thumb', {'class':'flora, is-visible'})
      +card('Jabirú', precioPrendedores, 'fauna-nativa/jabiru', 'prendedores/jabiru-thumb', {'class':'flora, is-visible'})
      +card('Kakuy', precioPrendedores, 'fauna-nativa/kakuy', 'prendedores/kakuy-thumb', {'class':'flora, is-visible'})
      +card('Lagartija Amberé', precioPrendedores, 'fauna-nativa/lagartija-ambere', 'prendedores/lagartija-ambere-thumb', {'class':'flora, is-visible'})
      +card('Mantis religiosa', precioPrendedores, 'fauna-nativa/mantis-religiosa', 'prendedores/mantis-religiosa-thumb', {'class':'flora, is-visible'})
      +card('Mara', precioPrendedores, 'fauna-nativa/mara', 'prendedores/mara-thumb', {'class':'flora, is-visible'})
      +card('Margay', precioPrendedores, 'fauna-nativa/margay', 'prendedores/margay-thumb', {'class':'flora, is-visible'})
      +card('Mariposa 88', precioPrendedores, 'fauna-nativa/mariposa-88', 'prendedores/mariposa-88-thumb', {'class':'flora, is-visible'})
      +card('Martín pescador', precioPrendedores, 'fauna-nativa/martin-pescador', 'prendedores/martin-pescador-thumb', {'class':'flora, is-visible'})
      +card('Mono Carayá', precioPrendedores, 'fauna-nativa/mono-caraya', 'prendedores/mono-caraya-thumb', {'class':'flora, is-visible'})
      +card('Muitú', precioPrendedores, 'fauna-nativa/muitu', 'prendedores/muitu-thumb', {'class':'flora, is-visible'})
      +card('Mulita', precioPrendedores, 'fauna-nativa/mulita', 'prendedores/mulita-thumb', {'class':'flora, is-visible'})
      +card('Murciélago ceniciento', precioPrendedores, 'fauna-nativa/murcielago-ceniciento', 'prendedores/murcielago-ceniciento-thumb', {'class':'flora, is-visible'})
      +card('Murciélago cola de ratón', precioPrendedores, 'fauna-nativa/murcielago-cola-de-raton', 'prendedores/murcielago-cola-de-raton-thumb', {'class':'flora, is-visible'})
      +card('murciélago frutero', precioPrendedores, 'fauna-nativa/murcielago-frutero', 'prendedores/murcielago-frutero-thumb', {'class':'flora, is-visible'})
      +card('Ñandú', precioPrendedores, 'fauna-nativa/nandu', 'prendedores/nandu-thumb', {'class':'flora, is-visible'})
      +card('Ocelote', precioPrendedores, 'fauna-nativa/ocelote', 'prendedores/ocelote-thumb', {'class':'flora, is-visible'})
      +card('Orca', precioPrendedores, 'fauna-nativa/orca', 'prendedores/orca-thumb', {'class':'flora, is-visible'})
      +card('Oruga Monarca', precioPrendedores, 'fauna-nativa/oruga-monarca', 'prendedores/oruga-monarca-thumb', {'class':'flora, is-visible'})
      +card('Osito lavador', precioPrendedores, 'fauna-nativa/osito-lavador', 'prendedores/osito-lavador-thumb', {'class':'flora, is-visible'})
      +card('Oso Hormiguero', precioPrendedores, 'fauna-nativa/oso-hormiguero', 'prendedores/oso-hormiguero-thumb', {'class':'flora, is-visible'})
      +card('Paca', precioPrendedores, 'fauna-nativa/paca', 'prendedores/paca-thumb', {'class':'flora, is-visible'})
      +card('Pecarí', precioPrendedores, 'fauna-nativa/pecari', 'prendedores/pecari-thumb', {'class':'flora, is-visible'})
      +card('Pez volador', precioPrendedores, 'fauna-nativa/pez-volador', 'prendedores/pez-volador-thumb', {'class':'flora, is-visible'})
      +card('Pichiciego', precioPrendedores, 'fauna-nativa/pichiciego', 'prendedores/pichiciego-thumb', {'class':'flora, is-visible'})
      +card('Pudú', precioPrendedores, 'fauna-nativa/pudu', 'prendedores/pudu-thumb', {'class':'flora, is-visible'})
      +card('Puma', precioPrendedores, 'fauna-nativa/puma', 'prendedores/puma-thumb', {'class':'flora, is-visible'})
      +card('Rana de Darwin', precioPrendedores, 'fauna-nativa/rana-de-darwin', 'prendedores/rana-de-darwin-thumb', {'class':'flora, is-visible'})
      +card('Tamanduá', precioPrendedores, 'fauna-nativa/tamandua', 'prendedores/tamandua-thumb', {'class':'flora, is-visible'})
      +card('Tapeti', precioPrendedores, 'fauna-nativa/tapeti', 'prendedores/tapeti-thumb', {'class':'flora, is-visible'})
      +card('Tapir', precioPrendedores, 'fauna-nativa/tapir', 'prendedores/tapir-thumb', {'class':'flora, is-visible'})
      +card('Tatú carreta', precioPrendedores, 'fauna-nativa/tatu-carreta', 'prendedores/tatu-carreta-thumb', {'class':'flora, is-visible'})
      +card('Tiburón Gatuzo', precioPrendedores, 'fauna-nativa/tiburon-gatuzo', 'prendedores/tiburon-gatuzo-thumb', {'class':'flora, is-visible'})
      +card('Tonina overa', precioPrendedores, 'fauna-nativa/tonina-overa', 'prendedores/tonina-overa-thumb', {'class':'flora, is-visible'})

      +card('Tordo amarillo', precioPrendedores, 'fauna-nativa/tordo-amarillo', 'prendedores/tordo-amarillo-thumb', {'class':'flora, is-visible'})
      +card('Tucán pico verde', precioPrendedores, 'fauna-nativa/tucan-pico-verde', 'prendedores/tucan-pico-verde-thumb', {'class':'flora, is-visible'})
      +card('Tucán toco', precioPrendedores, 'fauna-nativa/tucan-toco', 'prendedores/tucan-toco-thumb', {'class':'flora, is-visible'})
      +card('urraca', precioPrendedores, 'fauna-nativa/urraca', 'prendedores/urraca-thumb', {'class':'flora, is-visible'})
      +card('Venado de las pampas', precioPrendedores, 'fauna-nativa/venado-de-las-pampas', 'prendedores/venado-de-las-pampas-thumb', {'class':'flora, is-visible'})

      +card('Yaguareté', precioPrendedores, 'fauna-nativa/yaguarete', 'prendedores/yaguarete-thumb', {'class':'flora, is-visible'})
      +card('Yaguarundí', precioPrendedores, 'fauna-nativa/yaguarundi', 'prendedores/yaguarundi-thumb', {'class':'flora, is-visible'})
      +card('Zorro colorado', precioPrendedores, 'fauna-nativa/zorro-colorado', 'prendedores/zorro-colorado-thumb', {'class':'flora, is-visible'})
      +card('Zorzal Colorado', precioPrendedores, 'fauna-nativa/zorzal-colorado', 'prendedores/zorzal-colorado-thumb', {'class':'flora, is-visible'})
