section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Fauna nativa
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})

section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Botánica
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})

section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Fauna prehistorica
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})

section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Gatos
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})

section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Perros
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})


section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Varios
  .product-list--container
    section.product-list--section.flex
      +card('Botánica', precioLaminas, '/lamina-botanica', 'laminas/botanica-thumb', {'class':'flora'})
