section.product-list
  .container
    .row
      .col-md-12
        header.product-list--header.flex.align-center.justify-between
          h2.title-m Perros
  .product-list--container
    section.product-list--section.flex
      +card('Batata', precioPrendedores, 'perros/batata', 'prendedores/batata-thumb', {'class':'mamiferos, is-visible'})
      +card('Beagle', precioPrendedores, 'perros/beagle', 'prendedores/beagle-thumb', {'class':'mamiferos, is-visible'})
      +card('Border collie', precioPrendedores, 'perros/border-collie', 'prendedores/border-collie-thumb', {'class':'mamiferos, is-visible'})
      +card('Boxer', precioPrendedores, 'perros/boxer', 'prendedores/boxer-thumb', {'class':'mamiferos, is-visible'})
      +card('Bull dog francés', precioPrendedores, 'perros/bull-dog-frances', 'prendedores/bull-dog-frances-thumb', {'class':'mamiferos, is-visible'})
      +card('Bull Terrier', precioPrendedores, 'perros/bull-terrier', 'prendedores/bull-terrier-thumb', {'class':'mamiferos, is-visible'})
      +card('Cocker', precioPrendedores, 'perros/cocker', 'prendedores/cocker-thumb', {'class':'mamiferos, is-visible'})
      +card('Dálmata', precioPrendedores, 'perros/dalmata', 'prendedores/dalmata-thumb', {'class':'mamiferos, is-visible'})
      +card('Galgo pointer', precioPrendedores, 'perros/galgo-pointer', 'prendedores/galgo-pointer-thumb', {'class':'mamiferos, is-visible'})
      +card('Golden', precioPrendedores, 'perros/golden', 'prendedores/golden-thumb', {'class':'mamiferos, is-visible'})
      +card('Jack russell', precioPrendedores, 'perros/jack-russell', 'prendedores/jack-russel-thumb', {'class':'mamiferos, is-visible'})
      +card('Ovejero alemán', precioPrendedores, 'perros/ovejero-aleman', 'prendedores/ovejero-aleman-thumb', {'class':'mamiferos, is-visible'})
      +card('Pit bull', precioPrendedores, 'perros/pit-bull', 'prendedores/pit-bull-thumb', {'class':'mamiferos, is-visible'})
      +card('Salchicha', precioPrendedores, 'perros/salchicha', 'prendedores/salchicha-thumb', {'class':'mamiferos, is-visible'})
      +card('Samoyedo', precioPrendedores, 'perros/samoyedo', 'prendedores/samoyedo-thumb', {'class':'mamiferos, is-visible'})
      +card('Schnauzer mini', precioPrendedores, 'perros/schnauzer-mini', 'prendedores/schnauzer-mini-thumb', {'class':'mamiferos, is-visible'})
      +card('Siberiano', precioPrendedores, 'perros/siberiano', 'prendedores/siberiano-thumb', {'class':'mamiferos, is-visible'})
      +card('Yorkshire', precioPrendedores, 'perros/yorkshire', 'prendedores/yorkshire-thumb', {'class':'mamiferos, is-visible'})
