extends ../../layouts/layout-primary
block title
  title Cactusauria - Cuaderno A5 Lámina Mariposas Argentinas
  meta(name='description', content='Libreta tamaño A5 lisas tipo bookcel y tapas laminadas. Lámina con mariposas nativas de Argentina con sus respectivos nombres en la contratapa. Técnica: digital.')
  meta(name='keywords', content='libreta, lámina Mariposas Argentinas')

block content
  include ../../layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/") Inicio
            li: a(href="/cuadernosa5") Cuadernos A5
            li Lámina Mariposas Argentinas
          header.product--header
            h1.title-l Lámina Mariposas Argentinas
            h2.price !{precioCuadernosA5}
          section.product--section
            .product--description
              p Libreta tamaño A5 (15x20 aproximadamente), 40 hojas lisas tipo bookcel y tapas laminadas. Lámina con mariposas nativas de Argentina con sus respectivos nombres en la contratapa. Técnica: digital.
            .product--images.flex.flex-column.flex-row-sm.flex-wrap
              a.glightbox.product--images_img(href='../assets/images/cuadernos/lamina-mariposas-argentinas-1.jpg'): +img('cuadernos/lamina-mariposas-argentinas-1')
              a.glightbox.product--images_img(href='../assets/images/cuadernos/lamina-mariposas-argentinas-2.jpg'): +img('cuadernos/lamina-mariposas-argentinas-2')


  include ../../layouts/general/menu
  .overlay

