extends ../../layouts/layout-primary
block title
  title Cactusauria - Cuaderno A5 Lámina Botánica
  meta(name='description', content='Libreta tamaño A5 lisas tipo bookcel y tapas laminadas. Lámina con especies nativas y exóticas de argentina con sus respectivos nombres en la contratapa. Técnica: Rotring y coloración digital.')
  meta(name='keywords', content='libreta, lámina Botánica')

block content
  include ../../layouts/general/header
  section.product
    .container
      .row
        .col-md-12
          ul.flex.breadcrumbs
            li: a(href="/") Inicio
            li: a(href="/cuadernosa5") Cuadernos A5
            li Lámina Botánica
          header.product--header
            h1.title-l Lámina Botánica
            h2.price !{precioCuadernosA5}
          section.product--section
            .product--description
              p Libreta tamaño A5 (15x20 aproximadamente), 40 hojas lisas tipo bookcel y tapas laminadas. Lámina con especies nativas y exóticas de argentina con sus respectivos nombres en la contratapa. Técnica: Rotring y coloración digital.
            .product--images.flex.flex-column.flex-row-sm.flex-wrap
              a.glightbox.product--images_img(href='../assets/images/cuadernos/lamina-botanica-1.jpg'): +img('cuadernos/lamina-botanica-1')
              a.glightbox.product--images_img(href='../assets/images/cuadernos/lamina-botanica-2.jpg'): +img('cuadernos/lamina-botanica-2')


  include ../../layouts/general/menu
  .overlay

