extends ../../layouts/layout-primary
block title
  title Cactusauria - Cuadernos A5
  meta(name='description', content='Cuadernos A5 de flora y fauna')
  meta(name='keywords', content='Cuadernos A5')

block content
  include ../../layouts/general/header
  include ../../layouts/general/search
  include ../../layouts/cuadernosa5/filters
  include ../../layouts/cuadernosa5/cuadernosa5-main
